.headerPlusCards {
    /* width: 100%; */
    align-items: center;
    text-align: center;
    /* display: inline-block; */
    /* margin: 0 10%; */
    /* margin-right: 5%; */
    /* margin-left: 10%; */
    /* margin-bottom: 100px; */
    /* background-color: azure; */
}

.headerTeams {
    display: flex;
    justify-content: center;
    font-size: clamp(20px,1.5vw + 0.1rem , 70px);
    margin-bottom: 0;
    letter-spacing: -0.2;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.headerPlusCards h1 {
    display: flex;
    justify-content: center;
    color: orange;
    font-weight: 900;
    font-size: clamp(20px,1.7vw + 0.1rem , 70px);
    padding: 24px 0 6px 0;
    letter-spacing: -0.2;
    font-family: 'Libre Baskerville', serif;

}

/* .headers {
    margin-right: 5%;
    margin-left: 5%;
    width: 80%;
    text-align: left;
}

.headers h1 {
    font-family: 'Inter', sans-serif;
} */

.cards > .card-container {
    display: inline-block;
    /* margin: 32px 24px; */
}